/* Global Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 20px auto; /* Add margin to the top */
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

ul.konsulent-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.konsulent {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  background-color: lightblue;
  border-width: 1px;
  border-style: solid;
  border-color: #999;
}

.konsulent a {
  text-decoration: none;
  color: #333;
}

.dato {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

.kompetencer {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}

/* Filter Styles */

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.filter-container label {
  margin-right: 10px;
  white-space: nowrap;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.filter-container .checkbox-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-container input[type="checkbox"] {
  display: none;
}

.filter-container label.checkbox-button {
  display: inline-block;
  border: 1px solid #ccc;
  cursor: pointer;
}

.filter-container input[type="checkbox"]:checked + label.checkbox-button {
  background-color: green;
  color: white;
  border-color: green;
}
